.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.b_bot {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
}

.b_bot::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -20px;
  background: #ECECEC;
  left: 0;
}

@media (max-width: 1300px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
