.reyt__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 60px;
}

.reyting__box {
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.05);
  border-radius: 5px;
  padding: 10px;
}

.reyting__box p {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 10px;
}

.reyting__box b {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.reyting__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
}

.reyting__progress .radio {
  cursor: pointer;
}

.reyting__progress .radio circle {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.reyting__progress svg path {
  stroke-width: 2px;
}

@media (max-width: 425px) {
  .reyt__title {
    font-size: 20px;
  }
  .reyting__box p {
    font-size: 20px;
  }
  .reyting__box b {
    font-size: 20px;
  }
}
