.reyt__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 60px;
  margin-top: 20px;
}

.reytings__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 10px;
}

.reyting__box {
  margin-bottom: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.05);
  border-radius: 5px;
  padding: 10px;
}

.reyting__box p {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 10px;
}

.reyting__box b {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  width: 70px;
}

.reyting__box2 {
  margin-bottom: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(255, 107, 0, 0.05);
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
}

.reyting__box2 b {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  width: 70px;
  text-align: right;
}

.reyting__box2 svg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 260px;
}

.reyting__box2 svg path {
  stroke-width: 3px;
}

.reyting__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
}

.reyting__progress .radio {
  cursor: pointer;
}

.reyting__progress .radio circle {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.reyting__progress svg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.reyting__progress svg path {
  stroke-width: 2px;
}

.reytings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 40px;
  grid-gap: 30px;
}

.reytings p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 5px;
}

@media (max-width: 1300px) {
  .reytings {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .reytings {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .reytings p {
    font-size: 18px;
  }
  .reytings__title {
    font-size: 22px;
  }
  .reyting__box2 b {
    font-size: 17px;
  }
}

@media (max-width: 670px) {
  .reytings {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 425px) {
  .reyt__title {
    font-size: 20px;
  }
  .reytings__title {
    font-size: 20px;
  }
  .reyting__box2 {
    width: 100%;
  }
  .reyting__box2 b {
    font-size: 16px;
  }
  .reyting__box p {
    font-size: 20px;
  }
  .reyting__box b {
    font-size: 20px;
  }
}
