.category__main{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 50px;
}
.category__items,.search__items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  .card__img{
    margin-bottom: 20px;
  }
  span{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #B0B0B0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    svg{
      margin-right: 10px;
    }
  }
}
.search__items{
  grid-template-columns: repeat(4, 1fr);
}
.more__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  button{
    width: 35px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: 1px solid #008000 !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      opacity: 0.9;
      background: #006d00;
    }
  }
  .Mui-selected{
    background: #008000;
    color: #ffffff;
    &:hover{
      opacity: 0.9;
      background: #008000;
    }
  }

}

@media (max-width:1300px) {
  .category__main{
    grid-gap: 30px;
  }
}
@media (max-width:1100px) {
  .category__main{
    grid-template-columns: 1fr;
  }
  .category__news{
    display: none;
  }
  .search__items{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width:850px) {
  .search__items{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:768px) {
  .category__items{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:510px) {
  .category__items, .search__items{
    grid-template-columns: 1fr;
  }
}